<div class="row">
  <div class="page-header">
    <h1>New person</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <hr/>
  <p class="col-md-8">
    <%= link_to 'Back', admin_people_path, class:'btn btn-default ' %>
  </p>
</div>
